.demo1{
	background-color: #FFF3F3;
	display: flex;
	justify-content: space-between;

}



header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fff3f3;
	height: 130px; 
}

nav {
	background-color: #8E1616;
	height: 30px;
	padding-top: 5px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

li {
	list-style-type: none;
	padding-left: 30px;
	color: white;
}

#text-section {
	background-color: black;
	height: 100px;
	color: white;
	font-style: italic;
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size: 30px;
}

#main-hero {
	background-image: url(img/cover.jpg);
	background-size: cover;
	height: 600px;
}

.bottom-section {
	bottom: 18px;
	padding-top: 50px;
	background-color: lightgray;
	height: 150px;
}

#container {
	position: absolute;
	background: rgb(250,250,250,0.8);
	height: 530px;
	margin-left: 15%;
	width: 70%;
	padding-top: 100px;

}

.text {
	color: white;
}

#first-inputs {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
}


#second-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#button {
	margin-top: 50px;
	border-radius: 15px;
	font-size: 30px;
	color: white;
	background-color: #339235;
}

#result {
	color: #339235;
	font-size: 25px;
}

/* font */

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;

}

.first-box {
	border: 2px solid lightgray;
	box-shadow: 0px 0px 10px 0px black;
	padding: 12px;
}

.second-box {
	border: 2px solid lightgray;
	box-shadow: 0px 0px 10px 0px black;
	padding: 12px;
}

.fontawesome {
	display: flex;
}

.fa-thumbs-up {
	padding-top: 15px;
}

/* footer */

ol {
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

li:hover {
	color: red;
}

footer  {
	background-color: black;
	height: 150px;
}

footer p {
	color: white;
	text-align: center;
}

.logo-footer {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 200px;
	height: 75px
}