/* header */

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #3e0603;
	height: 100px;
	align-items: center; 
	margin: 0;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	padding-left: 20px;
	list-style-type: none;
	color: white;
}


.logo {
	width: 120px;
	height: 100px;
}

#imgs {
	width: 250px;
	height: 250px;
}

#container {

	display: flex;
	flex-wrap: wrap;
	background: rgb(0,0,0,0.8);
	justify-content: space-around;
	text-align: center;
	align-items: center;
	padding-top: 20px;
	height: 400px;
	font-size: 200%;
	color: white;
	font-weight: bold;

}
/* footer */

ol {
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

li:hover {
	color: red;
}

footer  {
	background-color: black;
	height: 170px;
}

footer p {
	color: white;
	text-align: center;
}

.logo-footer {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 200px;
	height: 75px
}